{{#extend "layout"}}
  {{#replace "bodyId"}}tabs-page{{/replace}}
  {{#replace "main"}}

    <section id="title">
      <div>
        <h1>Tabs</h1>
      </div>
    </section>
    <section id=tabs>
      <section id="tab-nav">
        <div>
          <ul class="tabs">
            <li><a for="one" id="tab01" class="tab active-tab" href="#">Tabs</a></li>
            <li><a for="two" id="tab02" class="tab" href="#">Are</a></li>
            <li><a for="three" id="tab03" class="tab" href="#">Awesome</a></li>
            <li><a for="four" id="tab04" class="tab" href="#">Sauce</a></li>
          </ul>
        </div>
      </section>
      <section id="tab-section">
        <div name="one" id="tabcontent01" class="tabcontent">
          <h2>Tabs</h2>
          <p>Tabs go way back. There was a beverage called Tab that was pretty sweet. You should keep tabs on it. Some cats are tabby, so a tabby cat driving a taxi is a tabby cabbie... no more Tab for this man.</p>
        </div>

        <div name="two" id="tabcontent02" class="tabcontent invisible">
          <h2>Are</h2>
          <p>Are is the wrong way to spell the letter 'R,' but who are we to judge?'</p>
        </div>

        <div name="three" id="tabcontent03" class="tabcontent invisible">
          <h2>Awesome</h2>
          <p>Awesome is the capital of America.</p>
        </div>

        <div name="four" id="tabcontent04" class="tabcontent invisible">
          <h2>Sauce</h2>
          <p>Sauce... where shall I begin. Overwhelmed.</p>
        </div>
      </section>
    </section>

    <!-- <section id="tab-nav">
      <div>
        <ul class="tabs">
          <li><a id="tab01" href="#">Tabs</a></li>
          <li><a id="tab02" href="#">Are</a></li>
          <li><a id="tab03" href="#">Awesome</a></li>
          <li><a id="tab04" href="#">Sauce</a></li>
        </ul>
      </div>
    </section>
    <section id="tab-section">
      <div id="tabcontent01" class="tabcontent">
        <h2>Tabs</h2>
        <p>Tabs go way back. There was a beverage called Tab that was pretty sweet. You should keep tabs on it. Some cats are tabby, so a tabby cat driving a taxi is a tabby cabbie... no more Tab for this man.</p>
      </div>

      <div id="tabcontent02" class="tabcontent">
        <h2>Are</h2>
        <p>Are is the wrong way to spell the letter 'R,' but who are we to judge?'</p>
      </div>

      <div id="tabcontent03" class="tabcontent">
        <h2>Awesome</h2>
        <p>Awesome is the capital of America.</p>
      </div>

      <div id="tabcontent04" class="tabcontent">
        <h2>Sauce</h2>
        <p>Sauce... where shall I begin. Overwhelmed.</p>
      </div>
    </section>-->

  {{/replace}}
{{/extend}}
