{{#extend "layout"}}
  {{#replace "bodyId"}}tabs-page{{/replace}}
  {{#replace "main"}}

    <section id="title">
      <div>
        <h1>Tabs</h1>
      </div>
    </section>

    <section id="tab-nav">
      <div>
        <ul class="tab">
          <li><a href="#" class="tablinks" onclick="openCity(event, 'Tabs')">Tabs</a></li>
          <li><a href="#" class="tablinks" onclick="openCity(event, 'Are')">Are</a></li>
          <li><a href="#" class="tablinks" onclick="openCity(event, 'Awesome')">Awesome</a></li>
          <li><a href="#" class="tablinks" onclick="openCity(event, 'Sauce')">Sauce</a></li>
        </ul>
      </div>
    </section>
    <section id="tab-section">
      <div id="Tabs" class="tabcontent">
        <h2>Tabs</h2>
        <p>Tabs go way back. There was a beverage called Tab that was pretty sweet. You should keep tabs on it. Some cats are tabby, so a tabby cat driving a taxi is a tabby cabbie... no more Tab for this man.</p>
      </div>

      <div id="Are" class="tabcontent">
        <h2>Are</h2>
        <p>Are is the wrong way to spell the letter 'R,' but who are we to judge?'</p>
      </div>

      <div id="Awesome" class="tabcontent">
        <h2>Awesome</h2>
        <p>Awesome is the capital of America.</p>
      </div>

      <div id="Sauce" class="tabcontent">
        <h2>Sauce</h2>
        <p>Sauce... where shall I begin. Overwhelmed.</p>
      </div>
    </section>
    <!-- <section id="tab-box">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a magna bibendum, aliquam odio ut, volutpat sem. Integer pharetra vulputate libero nec imperdiet. Fusce at lacus tincidunt, suscipit orci sit amet, congue eros. Donec at massa
          turpis. Nullam hendrerit est erat, in finibus ante fringilla eget. Cras porta convallis lorem, porta fermentum nisl dictum a. Donec ligula tellus, porta non facilisis vel, hendrerit non erat. Vivamus in velit ornare, eleifend erat quis, volutpat
          enim.
        </p>
      </div>
    </section> -->

  {{/replace}}
{{/extend}}
