{{#extend "layout"}}
  {{#replace "bodyId"}}tabs-page{{/replace}}
  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Tabs</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
