{{#extend "layout"}}
  {{#replace "bodyId"}}work-page{{/replace}}
  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Work</h1>
        <p>this website</p>
      </div>
    </section>

    <section id="features">
      <div>
        <h2>We offer</h2>
        <ul>
          <li>Great service</li>
          <li>Awesome websites</li>
          <li>Tailored design</li>
        </ul>
      </div>
    </section>

    <section id="call-to-action">
      <div>
        <a href="#" class="button">CALL US</a>
      </div>
    </section>

  {{/replace}}
{{/extend}}
