#contact-page {
  header nav ul a.contact-page {
    color: #fff;
    background-color: #000;
  }
  main {
    #hero {
      height: 100vh;
      > div {
        padding: 200px 20px;
      }
      h1 {
        font-size: 20px;
      }
    }
    #features {
      h1 {
        font-size: 20px;
      }
    }
    #call-to-action {
      a.button {}
    }
  }
  footer {
    color: green;
  }
}
