#css-page {
  header nav ul a.css-page {
    color: #fff;
    background-color: #000;
  }
  .chart {
    width: 100px;
    height: 100px;
  }
  .circ1 {
    stroke: green;
    fill: white;
    stroke-width: 5;
  }
}
