// nav {
//     min-width: 320px;
//     margin: 0 auto;
// }
header ul {
  list-style-type: none;
  margin: 16px;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  li {
    float: left;
    &.icon {
      display: none;
      line-height: 22px;
    }
    a {
      display: inline-block;
      color: $color-cool;
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
      font-size: 17px;
      border: 1px solid $color-cool;
      margin: 8px 4px;
      // transition: all 400ms ease-out;
      &:hover {
        color: $color-warm;
        border-color: $color-warm;
      }
      &.active {
        color: $color-warm;
        border-color: $color-warm;
      }
    }
  }
}
header ul li.icon {
  display: none;
  i.fa-bars {
    line-height: 21px;
    transform: translateY(3px);
    font-size: 1.5em;
  }
}
@media screen and (max-width:680px) {
  header ul li:not(:first-child) {
    display: none;
  }
  header ul li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:680px) {
  header ul.responsive {
    position: relative;
  }
  header ul.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  header ul.responsive li {
    float: none;
    display: inline;
  }
  header ul.responsive li a {
    display: block;
    text-align: left;
  }
}
