{{#extend "layout"}}
  {{#replace "bodyId"}}accordion-page{{/replace}}
  {{#replace "main"}}

    <section id="title">
      <div>
        <h1>Accordion</h1>
      </div>
    </section>
    <section id="accordions">
      <div id="accordion">

        <h2>Accordions</h2>
        <p>An accordion is used to show (and hide) content that is broken into sections:</p>

        <div>
          <button class="accordion-button">Open Section 1</button>
          <div class="accordion-content">
            <h3>Section 1</h3>
            <p>Some text..</p>
          </div>
          <button class="accordion-button">Open Section 2</button>
          <div class="accordion-content">
            <h3>Section 2</h3>
            <p>Some other text..</p>
          </div>
          <button class="accordion-button">Open Section 3</button>
          <div class="accordion-content">
            <h3>Section 3</h3>
            <p>Some text..</p>
          </div>
          <button class="accordion-button">Open Section 4</button>
          <div class="accordion-content">
            <h3>Section 4</h3>
            <p>Some other text..</p>
          </div>
        </div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
