{{#extend "layout"}}
  {{#replace "bodyId"}}accordion-page{{/replace}}
  {{#replace "main"}}

    <section id="title">
      <div>
        <h1>Accordion</h1>
      </div>
    </section>
    <section id="accordions">
      <div id="accordion">

        <h2>Accordions - as described by <a href="https://en.wikipedia.org/wiki/Accordion">Wikipedia</a></h2>
        <p>"Accordions (from 19th-century German Akkordeon, from Akkord—"musical chord, concord of sounds"[1]) are a family of box-shaped musical instruments of the bellows-driven free-reed aerophone type, colloquially referred to as a squeezebox. A person
          who plays the accordion is called an accordionist. The concertina and bandoneón are related; the harmonium and American reed organ are in the same family."</p>

        <div>
          <dl>
            <dt><button for="played" class="accordion-button">How are accordions played?</button></dt>
            <dd>
              <div class="accordion-content">
                <h3>Accordions are played like this:</h3>
                <p>"The instrument is played by compressing or expanding the bellows while pressing buttons or keys, causing valves, called pallets, to open, which allow air to flow across strips of brass or steel, called reeds, that vibrate to produce sound
                  inside the body.[notes 1] The performer normally plays the melody on buttons or keys on the right-hand manual, and the accompaniment, consisting of bass and pre-set chord buttons, on the left-hand manual."</p>
              </div>
            </dd>
            <dt><button for="where" class="accordion-button">Where are accordions played and in which styles?</button></dt>
            <dd>
              <div class="accordion-content">
                <h3>Accordion where and how:</h3>
                <p>"The accordion is widely spread across the world. In some countries (for example Brazil,[2][3] Colombia and Mexico) it is used in popular music (for example Forró, Sertanejo and B-Pop in Brazil), whereas in other regions (such as Europe,
                  North America and other countries in South America) it tends to be more used for dance-pop and folk music and as well as in regional and is often used in folk music in Europe, North America and South America. Nevertheless, in Europe
                  and North America, some popular music acts also make use of the instrument. Additionally, the accordion is also used in cajun, zydeco, jazz music and in both solo and orchestra performances of classical music. The piano accordion is
                  the official city instrument of San Francisco, California.[4]"</p>
              </div>
            </dd>
            <dt><button for="invented" class="accordion-button">Where and when were accordions invented?</button></dt>
            <dd>
              <div class="accordion-content">
                <h3>The history of accordions:</h3>
                <p>"The accordion is a free reed instrument and is in the same family as other instruments such as the sheng and khaen. The sheng and khaen are both much older than the accordion and this type of reed did inspire the kind of free reeds in
                  use in the accordion as we know it today. 8-key bisonoric diatonic accordion (c. 1830) The accordion's basic form is believed to have been invented in Berlin in 1822 by Christian Friedrich Ludwig Buschmann,[notes 4][citation needed]
                  although one instrument has been recently discovered that appears to have been built earlier.[notes 5][10][11]"</p>
              </div>
            </dd>
            <dt><button for="made" class="accordion-button">How are accordions made?</button></dt>
            <dd>
              <div class="accordion-content">
                <h3>The accordion manufacturing process:</h3>
                <p>"The best accordions are always fully hand-made, especially in the aspect of reeds; completely hand-made reeds have a far better tonal quality than even the best automatically manufactured reeds. Some accordions have been modified by individuals
                  striving to bring a more pure sound out of low-end instruments, such as the ones improved by Yutaka Usui,[30] a Japanese-born craftsman. The manufacture of an accordion is only a partly automated process. In a sense, all accordions are
                  handmade, since there is always some hand assembly of the small parts required. The general process involves making the individual parts, assembling the subsections, assembling the entire instrument, and final decorating and packaging.[31]
                  Famous centres of production are the Italian cities of Stradella and Castelfidardo, with many small and medium size manufacturers especially at the latter. Castelfidardo honours the memory of Paolo Soprani who was one of the first large-scale
                  producers. The French town of Tulle has hosted Maugein Freres since 1919, and the company is now the last complete process manufacturer of accordions in France. Large-scale production existed in Germany by Hohner and Weltmeister, but
                  these lost volume by the end of the 20th century. Hohner now manufactures in China; the Weltmeister instruments are still handmade by HARMONA in Klingenthal, Germany."</p>
              </div>
            </dd>
        </div>
        </dl>
      </div>
    </section>

  {{/replace}}
{{/extend}}
