{{#extend "layout"}}
  {{#replace "bodyId"}}accordion-page{{/replace}}
  {{#replace "main"}}

    <p>Click on the links inside the tabbed menu:</p>

    <ul class="tab">
      <li><a href="#" class="tablinks" onclick="openCity(event, 'Tabs')">Tabs</a></li>
      <li><a href="#" class="tablinks" onclick="openCity(event, 'Are')">Are</a></li>
      <li><a href="#" class="tablinks" onclick="openCity(event, 'Awesome')">Awesome</a></li>
      <li><a href="#" class="tablinks" onclick="openCity(event, 'Sauce')">Sauce</a></li>
    </ul>

    <div id="Tabs" class="tabcontent">
      <h3>London</h3>
      <p>London is the capital city of England.</p>
    </div>

    <div id="Are" class="tabcontent">
      <h3>Paris</h3>
      <p>Paris is the capital of France.</p>
    </div>

    <div id="Awesome" class="tabcontent">
      <h3>Tokyo</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>

    <div id="Sauce" class="tabcontent">
      <h3>Yo</h3>
      <p>Yo two.</p>
    </div>

  {{/replace}}
{{/extend}}
