{{#extend "layout"}}
  {{#replace "bodyId"}}contact-page{{/replace}}
  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Contact</h1>
        <p>this website</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
