{{#extend "layout"}}
  {{#replace "bodyId"}}css-page{{/replace}}
  {{#replace "main"}}

    <section id="title">
      <div>
        <h1>CSS</h1>
      </div>
    </section>
    <section id="svg">
      <div>
        <svg class="chart">
          <circle cx="25" cy="25" r="15" class="circ1">
          </circle>
        </svg>
        <svg height="210" width="500">
          <polygon points="200,10 250,190 160,210" style="fill:lime;stroke:purple;stroke-width:1" />
      </div>
    </section>

  {{/replace}}
{{/extend}}
